.container {
  display: flex;
  flex-direction: column;
}

.container label {
  font-size: 150%;
  font-weight: bold;
  margin-bottom: .5rem;
}

.container input {
  margin-bottom: .5rem;
  padding: .25rem .25rem;
  font-size: 1.25rem;
  border-radius: .25rem;
} 
