.App {
  width: 100vw;
  height: 100vh;
}

.background {
  z-index: 1;
  background-color: rgba(85, 85, 85, 0.409);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  animation: all 2s;
  opacity: 1;
  visibility: hidden;
}
.visible {
  visibility: visible !important;
}